{% extends '::frontend.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('bundles/producto/css/policosanol.css') }}"
rel="stylesheet" type="text/css"/>
<link href="{{ asset('bundles/producto/css/jquery-ui.css') }}"
rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}Productos-Ateromixol{% endblock %}
{% block id 'prodate' %}
{% block article %}
<div id="title">
<h2>Ateromixol (Policosanol 5mg, 10mg y 20mg)</h2>
<img class="title" alt="icono carrito" src="{{ asset('bundles/producto/images/carrito.png') }}">
</div>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Descripción</a></li>
        <li><a href="#tabs-2">Patentes</a></li>
        <li><a href="#tabs-3">Registros</a></li>
    </ul>
    <div id="tabs-1">

<img class="prod" alt="Estuche de Ateromixol" src="{{ asset('bundles/producto/images/abexol.png') }}">
<h4 class="producto">Acciones</h4> <p>Ha sido demostrado que el policosanol administrado a dosis de 5-10 mg/día durante tres años redujo los <b>eventos coronarios, cardiovasculares, cerebrovasculares</b>, el total de eventos adversos severos(EAS) y la mortalidad total respecto al placebo en ancianos. También ha sido demostrado que enpacientes de edad media redujo los <b>eventos vasculares</b> y las hospitalizaciones por todas las causas respecto al grupo de control. Por ello, el policosanol puede ser indicado en la prevención de estas patologías.
</p>
<p>La dosis de 20mg/día ha mostrado beneficios colaterales adicionales en el manejo de pacientes con <b>Claudicación Intermitente</b></p>
<p>Uso en gediatría: Teniendo en cuenta que no solo la excelente seguridad del policosanol, sino que sus beneficios clínicos en la reducción del riesgo a padecer eventos vasculares han sido demostrado en pacientes >= de 60 años, esta población es tributaria del tratamiento con el producto.</p>
<h4 class="producto">Descripción</h4>
<p>El ingrediente activo de este medicamento(policosanol) es una mezcla de alcoholes primarios alifáticos superiores aislada de la caña de azúcar. Su principal componente es el 1- octacosanol, conteniendo además los alcoholes siguientes: 1-tetracosanol, 1-hexacosanol, 1-heptacosanol, 1-nonacosanol, 1-triacontanol, 1-dotriacontanol y tetratriacontanol. La composición relativa de cada alcohol en la mezcla se encuentra dentro de un rango definido y reproducible.</p>
<h4 class="producto">Composición</h4>
<p>Cada tableta contiene: Policosanol 5mg, 10mg ó 20mg<br> Excipientes:c.s.p.
</p>
<h4 class="producto">Indicaciones</h4>
<p>ATEROMIXOL (policosanol) debe ser Indicado como terapia hipocolesterolemizante en pacientes con
hipercolesterolemia primaria tipo IIa (elevación de los niveles séricos de colesterol total y LDL-C) o tipo
IIb (elevación de los niveles séricos de colesterol total, LDL-C y triglicéridos). De igual modo, podrá
prescribirse a aquellos pacientes hipercolesterolémicos con diabetes tipo 2 ó no insulino dependiente
(DMNID), cuya hipercolesterolemia cumpla con las características mencionadas.
El tratamiento debe prescribirse cuando la dieta sola sea insuficiente para controlar los niveles séricos
de colesterol total y LDL-C. Por ello, antes de ser indicado el uso de este producto, deberán descartarse
otras causas de hipercolesterolemia, tales como una diabetes mal controlada, síndrome nefrótico,
hipotiroidismo o enfermedades hepáticas activas.
</p>
<h4 class="producto">Contraindicaciones</h4>
<p>Hipersensibilidad a cualquier componente de este medicamento.
Embarazo y lactancia: Aunque el policosanol no induce efectos teratrogénicos en ratas ni en conejos y
no afecta la fertilidad y la reproducción en ratas, este tratamiento no se recomienda a mujeres
embarazadas. La razón para tal restricción es que el colesterol y los productos metabólicos asociados
son necesarios para un adecuado desarrollo fetal. Ya que la hipercolesterolemia y la arteriosclerosis
son enfermedades crónicas, la suspensión de la terapia hipolipemiante durante 9 meses
generalmente no constituye un factor adicional de riesgo coronario.
</p>
<h4 class="producto">Advertencia</h4>
<p>Pollcosanol 5 mg (tabletas amarillas) contiene tartrazina como colorante. por lo cual puede producir
reacciones alérgicas incluida asma bronquial, en individuos hipersensibles. Las otras dosificaciones
(10 Y 20 mg) no contienen tartrazina.</p>
<h4 class="producto">Precauciones</h4>
<p>Uso Pediátrico: El policosanol resultó eficaz, seguro y bien tolerado en pacientes con edades
comprendidas entre 11 y 19 años. Sin embargo, hasta el presente, la eficacia y seguridad del
tratamiento con policosanol en menores de 11 años no han sido establecidas, razón por la cual no se
recomienda su uso en estos casos.</p>
<h4 class="producto">Reacciones adversa</h4>
<p>El policosanol es un tratamiento seguro y muy bien tolerado. Hasta el presente, no han sido
demostrados efectos adversos bioquímicos o clínicos atribulbles al tratamiento.</p>
<h4 class="producto">Interacciones medicamentosas</h4>
<p>Las interacciones farmacológicas demostradas para el policosanol han sido un sinergismo entre
la acción antitrombotico/antiagregante de la aspirina y el policosanol, así como, efectos
beneficiosos complementarios sobre el perfil lípidico en la terapia con fibratos y un modesto
aumento de la acción antihipertensiva de los ß-bloqueadores, sin modificar la frecuencia cardiaca.</p>
<p>Otras terapias concomitantes. Aunque no se han desarrollado estudios clínicos específicos para
evaluar interacciones farmacológicas entre el policosanol y otros medicamentos, tanto en ensayos
de corto como de largo término, el policosanol ha sido utilizado simultáneamente con antagonistas
del Ca2+. ß-bloqueadores, diuréticos, Inhibidores de la enzima convertidora, nitroderivados
vasodilatadores, antinflamatorios no esteroidales, ansiolíticos, antidepresivos, neurolépticos,
hipoglicemiantes orales, digitálicos, derivados del dicumarol, terapia de reemplazo hormonal,
antibióticos, antialérgicos, antiasmálicos, vitaminas, entre otros, sin evidencias de interacciones
adversas clínicamente relevantes. Ello ha sido corroborado por la baja frecuencia de reportes de
efectos adversos durante el estudio de intervención a largo plazo y en los estudios de vigilancia
farmacológica.</p>
<h4 class="producto">Posología</h4>
<p>Durante la terapia hipolipemiante con policosanol los pacientes deben mantener las condiciones de
dieta, tal y como se establece para este tipo de terapia. La dosis inicial recomendada es una tableta
de 5 mg en el horario de la comida, ya que durante la noche la síntesis de colesterol se encuentra
incrementada. Si la respuesta no es adecuada , puede indicarse 1Omg/día ingerida una vez al dia.
Con esta dosis, la eficacia se incrementa y se mantiene inalterada la excelente seguridad y
tolerabltidad del tratamiento. En casos de hipercolesterolemla severa se recomienda usar esta
posología como dosis de ataque. Casos refractarios y/o alto riesgo coronario pueden requerir
20 mg/día, la cual representa la dosis máxima recomendada hasta el presente para la indicación
que se prescribe.
Durante la terapia,los niveles de colesterol sérico deben chequearse periódicamente cada 3 meses.
La excreción renal es despreciable, por lo cual no se requieren modificaciones sustanciales de la
dosificación en pacientes con hipercolesterolemia tipo II que presentan concomitantemente
trastornos renales.
Como antiagregante plaquetario se recomienda el uso diario de dosis de 10 a 20 mg/día, una
tableta, preferiblemente en el desayuno debido a que en este horario la agregación plaquetaria se
encuentra incrementada.
En los estudios en se han demostrado los beneficios clínicos del policosanol en la prevención de
eventos vasculares, la mayoría de la poblacín de estudio (>=90 %) ha sido tratada con dosis de
5 mg/día durante >= 3 años.</p>
<h4 class="producto">Presentación</h4>
<p>Estuches conteniendo blisteres con 10 ó 20 tabletas.</p>
<h4 class="producto">Almacenamiento</h4>
<p>Consérvese a temperatura ambiente.</p>
</div>
<div id="tabs-2">
<h4 class="producto">Título</h4>
<p>Una mezcla natural compuesta por alcoholes alifáticos primarios superiores obtenida de la cera de abejas para el tratamiento de la úlceras gástricas y duodenales que presenta también activada antiflamatoria</p>
<h4 class="producto">Autores</h4>
<p>Abilio Laguna, Juan Magraner, Rosa M. Más,  Daysi Carvajal, M. Lourdes Arruzazabala, Vivian Molina, Maritza Díaz, Suria Valdés.</p>
<h4 class="producto">Titular</h4>
<p>Laboratorios DALMER S.A.</p>
<table>
<caption>Paises donde está vigente la patente</caption>
<thead>
<tr>
<th>Pais</th>
<th>No.Registro</th>
</tr>
</thead>
<tbody>
<tr>
<td>Cuba</td>
<td>22412</td>
</tr>
<tr>
<td>Argentina</td>
<td>AR254557</td>
</tr>
<tr>
<td>Canada</td>
<td>2`135346</td>
</tr>
<tr>
<td>Estados Unidos</td>
<td>6 235 795</td>
</tr>
<tr>
<td>Estados Unidos(Divisional)</td>
<td>6 465 526</td>
</tr>
<tr>
<td>Japón</td>
<td>2804445</td>
</tr>
</tbody>
</table>
<p>Registrado como suplemento nutricional. En fase de introducción en el mercado nacional, Guatemala y Bolivia.</p>
</div>
<div id="tabs-3">
<ul class="check">
<li>Australia (medicina complementaria)</li>
<li>Japón (alimentos)</li>
<li>Corea del Sur (nutraceutico) </li>
<li>Noruega (suplemento nutricional) </li>
</ul>

</div>
</div>
{% endblock %}
{% block javascripts %}
  <script>
  $(document).ready(function() {
    $("#tabs").tabs({
	active: 0

	
	
	});
  });
  </script>
{% endblock %}
